nodered/flows.json
[
  {
    "id": "d2dd90e439ce14da",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "d94051be731fc4b5",
    "type": "mqtt in",
    "z": "d2dd90e439ce14da",
    "name": "",
    "topic": "cancela/elencoRapunzel",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "170a626829f6883c",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 250,
    "y": 320,
    "wires": [
      [
        "83682582d27fdf05",
        "be6a0dd4fb27e753"
      ]
    ]
  },
  {
    "id": "be6a0dd4fb27e753",
    "type": "function",
    "z": "d2dd90e439ce14da",
    "name": "function 1",
    "func": "msg.topic = \"INSERT INTO access (code) VALUES (?)\";\nmsg.payload = [msg.payload.CodigoCancela];\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 520,
    "y": 400,
    "wires": [
      [
        "be6efe7799bc0cce"
      ]
    ]
  },
  {
    "id": "be6efe7799bc0cce",
    "type": "mysql",
    "z": "d2dd90e439ce14da",
    "mydb": "25435fee29e3a263",
    "name": "cancelaIOT",
    "x": 770,
    "y": 420,
    "wires": [
      []
    ]
  },
  {
    "id": "83682582d27fdf05",
    "type": "debug",
    "z": "d2dd90e439ce14da",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 680,
    "y": 240,
    "wires": []
  },
  {
    "id": "db777416d6077211",
    "type": "mqtt out",
    "z": "d2dd90e439ce14da",
    "name": "",
    "topic": "cancela/saida",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "170a626829f6883c",
    "x": 800,
    "y": 600,
    "wires": []
  },
  {
    "id": "604966b48ca86237",
    "type": "http in",
    "z": "d2dd90e439ce14da",
    "name": "abrirCancela",
    "url": "/abrir",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 290,
    "y": 600,
    "wires": [
      [
        "317029741a6455ac"
      ]
    ]
  },
  {
    "id": "317029741a6455ac",
    "type": "function",
    "z": "d2dd90e439ce14da",
    "name": "function 2",
    "func": "msg.topic = \"cancela/saida\";\n\nmsg.payload = {\n    valido: true\n};\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 540,
    "y": 600,
    "wires": [
      [
        "370fd4ce8ed04d36",
        "db777416d6077211"
      ]
    ]
  },
  {
    "id": "370fd4ce8ed04d36",
    "type": "http response",
    "z": "d2dd90e439ce14da",
    "name": "Deu boa",
    "statusCode": "200",
    "headers": {},
    "x": 820,
    "y": 740,
    "wires": []
  },
  {
    "id": "170a626829f6883c",
    "type": "mqtt-broker",
    "name": "meu mosquito",
    "broker": "b8293ba487964b66bb0c9d7b59ba9da9.s1.eu.hivemq.cloud",
    "port": "8883",
    "tls": "",
    "clientid": "",
    "autoConnect": true,
    "usetls": true,
    "protocolVersion": 4,
    "keepalive": 60,
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "25435fee29e3a263",
    "type": "MySQLdatabase",
    "name": "libera_db",
    "host": "shortline.proxy.rlwy.net",
    "port": "28268",
    "db": "railway",
    "tz": "",
    "charset": "UTF8"
  }
]